@font-face {
    font-family: "The Nautigal";
    src: url("../static/font/font.ttf");
}

p {
    background-image: url("/static/image/image.jpeg");
    font-family: "The Nautigal";
    font-size: 10vmin;
}
